################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CarService/obj/Release/netcoreapp3.1/staticwebassets
